# 忽略编译生成的文件
*.o
*.out
*.exe

# 忽略 Python 虚拟环境
env/
venv/

# 忽略 macOS 特有的文件
.DS_Store

# 忽略 Visual Studio Code 配置
.vscode/

# 忽略日志文件
*.log

# 忽略其他文件夹或文件
dataset/
execute/
3dgs-output/
Vocabulary/ORBvoc.txt
orb-output/
Thirdparty/DBoW2/build/
Thirdparty/g2o/build/
Thirdparty/Sophus/build/
gaussian-splatting-pose/submodules/diff-gaussian-rasterization/build/
gaussian-splatting-pose/submodules/diff-gaussian-rasterization/diff_gaussian_rasterization.egg-info
gaussian-splatting-pose/submodules/diff-gaussian-rasterization/dist/
gaussian-splatting-pose/submodules/fused-ssim/build/
gaussian-splatting-pose/submodules/fused-ssim/fused_ssim.egg-info
gaussian-splatting-pose/submodules/simple-knn/build/
gaussian-splatting-pose/submodules/simple-knn/simple_knn.egg-info